:root {
    --accent-bg: #ffffdd;
    --border-color: #FFA800;
    --food: rgba(238, 77, 24, 0.425);
    --wood: rgba(139, 90, 43, 0.80);
    --gold: rgba(255, 168, 0, 0.60);
    --stone: rgba(205, 205, 180, 0.60);
    /* text gradient */
    --gradient-bottom: #F2A410;
    --gradient-top: #ddd8cd;
    /* button gradient */
    --button-gradient-center: #6D040A;
    --button-gradient-side: #270B08;
    --button-gradient: radial-gradient(circle, rgba(109, 4, 10, 1) 50%, rgba(39, 11, 8, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

.d-none {
    display: none;
}

.gradient-text {
    font-size: 1.3rem;
    color: transparent;
    background-image: linear-gradient(0deg, var(--gradient-bottom), var(--gradient-top));
    background-clip: text;
    animation: hue 60s infinite linear;
}

body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.1rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    border: 1px var(--border-color) solid;
    border-top: none;
    border-bottom: none;
    box-shadow: 0px 0px 10px 5px #000;
}

.table-wrap {
    position: relative;
    margin-top: 50px;
}

.table {
    border-collapse: collapse;
    font-weight: 600;
}

.food {
    background: var(--food);
}

.wood {
    background: var(--wood);
}

.gold {
    background: var(--gold);
}

.stone {
    background: var(--stone);
}

.hide-button {
    background: var(--button-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 180px;
    position: absolute;
    top: -30px;
    left: 0;
    border-top-left-radius: 15px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
}

.table th {
    border: 1px solid var(--border-color);
    padding: 5px 15px;
}

.table td {
    text-align: center;
    vertical-align: middle;
    border: 1px var(--border-color) solid;
}

.table td:first-child {
    text-align: left;
    padding: 5px 15px 5px 5px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
}

input {
    box-sizing: border-box;
    display: block;
    margin: 5px 0;
    padding: 0.8rem 1.6rem;
    color: #000;
    width: 100px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: inherit;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

input::placeholder {
    color: #B0BEC5;
}

input:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #00000079;
}

.units {
    position: relative;
    margin-top: 50px;
}

.unit-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.unit-card {
    background: var(--button-gradient);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    user-select: none;
}

.unit-card:hover {
    background: var(--button-gradient);
}

.unit-card>img {
    height: 22px;
    width: 22px;
}

.result {
    background: var(--accent-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 20px;
}

.result * {
    color: #000;
}